---
import { BLOG_TITLE } from '../config/blog';
---

<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta http-equiv="refresh" content="0; url=/blog/" />
		<link rel="canonical" href="/blog/" />
		<title>{BLOG_TITLE}</title>
	</head>
	<body>
		<p><a href="/blog/">블로그로 이동합니다.</a></p>
	</body>
</html>
